services:
  mysql-db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "adminpassword"
      MYSQL_DATABASE: "apa_db"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data: